NodeRed_flow
[
    {
        "id": "161f0767.74f0c9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ddcf174e.0649d8",
        "type": "inject",
        "z": "161f0767.74f0c9",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "92f58084.c5083"
            ]
        ]
    },
    {
        "id": "a3193350.d660a8",
        "type": "inject",
        "z": "161f0767.74f0c9",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "92f58084.c5083"
            ]
        ]
    },
    {
        "id": "92f58084.c5083",
        "type": "rpi-gpio out",
        "z": "161f0767.74f0c9",
        "name": "",
        "pin": "36",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "444e4edc.55944",
        "type": "exec",
        "z": "161f0767.74f0c9",
        "command": "python3 ad1115.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "d6f7d181.4b155"
            ],
            [],
            []
        ]
    },
    {
        "id": "79bec09a.07d9e",
        "type": "inject",
        "z": "161f0767.74f0c9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 209,
        "y": 460,
        "wires": [
            [
                "444e4edc.55944"
            ]
        ]
    },
    {
        "id": "d6f7d181.4b155",
        "type": "function",
        "z": "161f0767.74f0c9",
        "name": "convert",
        "func": "str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar ad1 = (Number(partsOfStr[0]));\nmsg1 = {payload: ad1.toFixed(1)};\n\nvar ad2 = (Number(partsOfStr[1]));\nmsg2 = {payload: ad2.toFixed(1)};\n\nvar ad3 = (Number(partsOfStr[2]));\nmsg3 = {payload: ad3.toFixed(1)};\n\nvar ad4 = (Number(partsOfStr[3]*1000/12.94));\nmsg4 = {payload: ad4.toFixed(1)};\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "x": 562,
        "y": 447,
        "wires": [
            [
                "f8808a48.41c9a8",
                "7890fe58.24cab"
            ],
            [
                "cdc29fc.413ffe",
                "9cdf7508.84e0a8"
            ],
            [
                "2405749f.c5ced4",
                "29e71014.aa7068"
            ],
            [
                "deb81665.ea2d18"
            ]
        ]
    },
    {
        "id": "ca80a34.0982b6",
        "type": "inject",
        "z": "161f0767.74f0c9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "14e33fb0.6653f"
            ]
        ]
    },
    {
        "id": "14e33fb0.6653f",
        "type": "exec",
        "z": "161f0767.74f0c9",
        "command": "python3 bmp180.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 760,
        "wires": [
            [
                "5ea497d8.b37228"
            ],
            [],
            []
        ]
    },
    {
        "id": "5ea497d8.b37228",
        "type": "function",
        "z": "161f0767.74f0c9",
        "name": "convert",
        "func": "str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar ad1 = (Number(partsOfStr[0]));\nmsg1 = {payload: ad1.toFixed(1)};\n\nvar ad2 = (Number(partsOfStr[1]));\nmsg2 = {payload: ad2.toFixed(1)};\n\nvar ad3 = (Number(partsOfStr[2]));\nmsg3 = {payload: ad3.toFixed(1)};\n\nvar ad4 = (Number(partsOfStr[3]));\nmsg4 = {payload: ad4.toFixed(1)};\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "a46f6493.1d319"
            ],
            [
                "c7f51119.1fdfc"
            ],
            [
                "f1dfc0a1.aa4a98"
            ],
            [
                "6620ebf7.83efbc"
            ]
        ]
    },
    {
        "id": "f8808a48.41c9a8",
        "type": "ui_level",
        "z": "161f0767.74f0c9",
        "group": "9d049ce4.c4111",
        "order": 1,
        "width": 9,
        "height": 2,
        "name": "Pot 1",
        "label": "Potenciometro 1:   ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "3.3",
        "segWarn": "",
        "segHigh": "",
        "unit": "V",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "3",
        "colorschema": "rainbow",
        "textoptions": "custom",
        "colorText": "#ffffff",
        "fontLabel": "2",
        "fontValue": "1",
        "fontSmall": "1",
        "colorFromTheme": false,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "peaktime": 3000,
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "cdc29fc.413ffe",
        "type": "ui_level",
        "z": "161f0767.74f0c9",
        "group": "9d049ce4.c4111",
        "order": 3,
        "width": 9,
        "height": 3,
        "name": "Pot 2",
        "label": "Potenciometro 2:   ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "3.3",
        "segWarn": "",
        "segHigh": "",
        "unit": "V",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "3",
        "colorschema": "rainbow",
        "textoptions": "custom",
        "colorText": "#ffffff",
        "fontLabel": "2",
        "fontValue": "1",
        "fontSmall": "1",
        "colorFromTheme": false,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "peaktime": 3000,
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "2405749f.c5ced4",
        "type": "ui_level",
        "z": "161f0767.74f0c9",
        "group": "9d049ce4.c4111",
        "order": 5,
        "width": 9,
        "height": 3,
        "name": "Pot 3",
        "label": "Potenciometro 3:   ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "3.3",
        "segWarn": "",
        "segHigh": "",
        "unit": "V",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": "3",
        "colorschema": "rainbow",
        "textoptions": "custom",
        "colorText": "#ffffff",
        "fontLabel": "2",
        "fontValue": "1",
        "fontSmall": "1",
        "colorFromTheme": false,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "peaktime": 3000,
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "deb81665.ea2d18",
        "type": "ui_level",
        "z": "161f0767.74f0c9",
        "group": "f848cf0d.f58d5",
        "order": 4,
        "width": 3,
        "height": 7,
        "name": "Temperatura",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ffb340",
        "colorNormal": "#8affb0",
        "colorOff": "#595959",
        "min": 0,
        "max": "40",
        "segWarn": "",
        "segHigh": "",
        "unit": "°C",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "2",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "1.5",
        "fontValue": "1.5",
        "fontSmall": "1",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "peaktime": 3000,
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "34bdc293.38ac7e",
        "type": "ui_text",
        "z": "161f0767.74f0c9",
        "group": "f848cf0d.f58d5",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Temperatura",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "a46f6493.1d319",
        "type": "ui_chart",
        "z": "161f0767.74f0c9",
        "name": "TemperaturaBMP180",
        "group": "f848cf0d.f58d5",
        "order": 10,
        "width": 15,
        "height": 9,
        "label": "Temperatura BMP 180",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 820,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f51119.1fdfc",
        "type": "ui_gauge",
        "z": "161f0767.74f0c9",
        "name": "",
        "group": "f848cf0d.f58d5",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "compass",
        "title": "Pressão",
        "label": "Pascal",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 780,
        "y": 740,
        "wires": []
    },
    {
        "id": "f1dfc0a1.aa4a98",
        "type": "ui_gauge",
        "z": "161f0767.74f0c9",
        "name": "Altitude",
        "group": "f848cf0d.f58d5",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Altitude ",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "6620ebf7.83efbc",
        "type": "ui_gauge",
        "z": "161f0767.74f0c9",
        "name": "Pressão Nível do Mar",
        "group": "f848cf0d.f58d5",
        "order": 5,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pressão Nível do Mar",
        "label": "Pa",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "7890fe58.24cab",
        "type": "ui_chart",
        "z": "161f0767.74f0c9",
        "name": "",
        "group": "9d049ce4.c4111",
        "order": 2,
        "width": 9,
        "height": 3,
        "label": "Potenciometro 1 x Tempo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 850,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9cdf7508.84e0a8",
        "type": "ui_chart",
        "z": "161f0767.74f0c9",
        "name": "",
        "group": "9d049ce4.c4111",
        "order": 4,
        "width": 9,
        "height": 3,
        "label": "Potenciometro 2 x Tempo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 830,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "29e71014.aa7068",
        "type": "ui_chart",
        "z": "161f0767.74f0c9",
        "name": "",
        "group": "9d049ce4.c4111",
        "order": 6,
        "width": 9,
        "height": 3,
        "label": "Potenciometro 3 x Tempo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9d049ce4.c4111",
        "type": "ui_group",
        "z": "",
        "name": "Potenciometros",
        "tab": "597cfea2.f0bb8",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "f848cf0d.f58d5",
        "type": "ui_group",
        "z": "",
        "name": "Sensores",
        "tab": "597cfea2.f0bb8",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "597cfea2.f0bb8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
